body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	color: #363636;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.flex-none {
	flex: none;
}

h1, .h1 {
	@include headers();
	font-size: 2.375em;

	&.innerH1 {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

h2, .h2 {
	@include headers();
	font-size: 1.9375em;
}

h3, .h3 {
	@include headers();
	font-size: 1.5625em;
}

h4, .h4 {
	@include headers();
	font-size: 1.25em;
}

h5, .h5 {
	@include headers();
	font-size: 1.1em;
}

h6, .h6 {
	@include headers();
	font-size: 1em;
}



ul, ol {
	margin: 0 0 30px 0;
	padding: 0;

	> li {
		position: relative;
		margin: 0 0 10px 0;
		padding: 0 0 0 20px;
		list-style: none;

		&:before {
			content: " ";
			display: inline-block;
			vertical-align: top;
			position: absolute;
			top: auto;
			right: auto;
			bottom: auto;
			left: 0;
			bottom: auto;
		}
	}
}

ol {
	counter-reset: li;

	> li {
		&:before {
			content: counter(li) ". " !important;
			counter-increment: li;
		}
	}
}

ul {
	> li {
		&:before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			top: 10px;
			background: $yellow;
		}
	}
	&.uk-slider-items {
		>li {
			&:before {
				display: none;
			}
		}
	}
}

p {
	a {
		color: #363636;
		border-bottom: 1px solid #363636;
		transition: all .3s;

		&:hover {
			text-decoration: none;
			color: #363636;
			border-bottom-color: transparent;
		}
	}
}

@each $indent in $indents {
	$indent-name: $indent;
	$indent-value: $indent;

	@if ($indent-name == 0) {
		$indent-name: '0';
	} @else {
		$indent-value: #{$indent-value}px;
	}

	.p-#{$indent-name},
	.pt-#{$indent-name},
	.pv-#{$indent-name} {
		padding-top: #{$indent-value} !important;
	}

	.p-#{$indent-name},
	.pb-#{$indent-name},
	.pv-#{$indent-name} {
		padding-bottom: #{$indent-value} !important;
	}

	.p-#{$indent-name},
	.pl-#{$indent-name},
	.ph-#{$indent-name} {
		padding-left: #{$indent-value} !important;
	}

	.p-#{$indent-name},
	.pr-#{$indent-name},
	.ph-#{$indent-name} {
		padding-right: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.mt-#{$indent-name},
	.mv-#{$indent-name} {
		margin-top: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.mb-#{$indent-name},
	.mv-#{$indent-name} {
		margin-bottom: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.ml-#{$indent-name},
	.mh-#{$indent-name} {
		margin-left: #{$indent-value} !important;
	}

	.m-#{$indent-name},
	.mr-#{$indent-name},
	.mh-#{$indent-name} {
		margin-right: #{$indent-value} !important;
	}
}

.position-relative {
	position: relative;
}

.inputGroup {
	position: relative;
	margin-bottom: 40px;

	.inputName {
		font-size: inherit;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 20px;
		top: 16px;
		transition: all 0.2s ease;

		.requared {
			color: #f00;
		}
	}
	&.active, &.completed {
		.inputName {
			top: -25px;
			left: 0;
			font-size: 14px;
		}
	}
	div.error {
		font-size: 13px;
		color: red;
	}
}

.uk-input, .uk-select, .uk-textarea {
	border: 1px solid #E1E1E1;
}

.uk-input {
	height: 55px;
}

.uk-checkbox {
	border-radius: 2px;
	border-color: $grayMiddle;
	margin-right: 10px;

	&:focus {
		border-color: $grayMiddle;
	}
	&:checked, &:indeterminate {
		background-color: $yellow;
		border-color: $yellow;

		&:focus {
			background-color: $yellow;
			border-color: $yellow;
		}
	}
}

.img-fluid {
	max-width: 100%;
}

.btn {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-align: center;
	padding: 0 35px;
	border-radius: 2px;
	border: 1px solid $yellow;
	transition: all .3s ease;
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	line-height: 46px;
	-webkit-appearance: none;
	font-size: 16px;
	
	&.yellowBtn {
		background-color: $yellow;
		color: #fff;

		&:hover {
			border-color: $yellowHover;
			background-color: $yellowHover;
			text-decoration: none;
		}
	}
	&.transBtn {
		background-color: transparent;
		color: $yellow;

		&:hover {
			border-color: $yellowHover;
			background-color: $yellowHover;
			text-decoration: none;
			color: #fff;
		}
	}
	&.fastCalc {
		background-image: url("../img/fastCalc.svg");
		background-repeat: no-repeat;
		background-position: 10px center;
		padding: 15px 10px 15px 50px;
		white-space: nowrap;
	}
}

.withArrow {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 25px;
	transition: all .3s ease;
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	color: $yellow;

	&:after {
		content: "";
		display: block;
		background: url("../img/withArrow.svg") no-repeat center;
		width: 19px;
		height: 8px;
		position: absolute;
		right: 0;
		top: calc(50% - 4px);
		transition: all .3s;
	}
	span {
		display: block;
		border-bottom: 1px solid transparent;
		transition: all .3s;
	}
	&:hover {
		color: $yellow;
		text-decoration: none;

		&:after {
			right: -10px;
		}
		span {
			border-bottom-color: $yellow;
		}
	}
}

[type="reset"] {
	border: none;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: $gray;
	outline: none;
	cursor: pointer;
	padding: 0;
	transition: all .3s;

	&:hover {
		border-bottom-color: $gray;
	}
}