<ul class="leftMenu">
    <li><a href="/glass.html">Скидки на остекление</a></li>
    <li><a href="">Акция на проектирование</a></li>
    <li><a href="">Проект дома 15-132</a></li>
    <li><a href="">Проект дома 20-216</a></li>
    <li><a href="">Проект дома 20-216</a></li>
    <li><a href="/formula.html">Формула тепла</a></li>
    <li><a href="/construct.html">Конструктивные элементы дома в подарок</a></li>
    <li><a href="/eskiz.html">Бесплатный эскиз проекта</a></li>
    <li><a href="/geogaphy.html">География строительства</a></li>
</ul>