<div class="projectItem">
	<div class="image">
		<div tabindex="-1" class="position-relative" data-uk-slideshow="ratio: 276:209">
			<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
			    <ul class="uk-slideshow-items">
			        <li>
			            <picture>
						    <source srcset="img/imageitem.webp" type="image/webp">
						    <img src="#" data-src="img/imageitem.jpg" alt="" data-uk-img data-uk-cover>
						</picture>
			        </li>
			        <li>
			            <picture>
						    <source srcset="img/imageitem2.webp" type="image/webp">
						    <img src="#" data-src="img/imageitem2.jpg" alt="" data-uk-img data-uk-cover>
						</picture>
			        </li>
			        <li>
			            <picture>
						    <source srcset="img/imageitem.webp" type="image/webp">
						    <img src="#" data-src="img/imageitem.jpg" alt="" data-uk-img data-uk-cover>
						</picture>
			        </li>
			        <li>
			            <picture>
						    <source srcset="img/imageitem2.webp" type="image/webp">
						    <img src="#" data-src="img/imageitem2.jpg" alt="" data-uk-img data-uk-cover>
						</picture>
			        </li>
			        <li>
			            <picture>
						    <source srcset="img/imageitem.webp" type="image/webp">
						    <img src="#" data-src="img/imageitem.jpg" alt="" data-uk-img data-uk-cover>
						</picture>
			        </li>
			    </ul>
			</div>

			<ul class="uk-slideshow-nav uk-dotnav uk-flex-center imageDots"></ul>

		</div>
		<div class="actionsWrap">
			<a href="" data-uk-icon="star-full"></a>
			<a href="" data-uk-icon="compare"></a>
		</div>
	</div>
	<div class="titleWrap">
		<div>
			<a href="" class="title">Проект дома 20-216Б</a>
		</div>
		<div class="plans" data-uk-lightbox>
			<a href="http://hbtech.ru/upload/iblock/a37/a376236938f562678131789246fd75a8.jpg" data-uk-tooltip="title: Планировка; pos: left"><img src="#" data-src="img/projectItemPlan.svg" alt="" class="uk-preserve" data-uk-svg data-uk-img></a>
			<a href="http://hbtech.ru/upload/iblock/ea5/ea5083d16fb3d36eb3c4315c29adc616.jpg"></a>
		</div>
	</div>
	<div class="propsWrap">
		<div class="prop">
			<div>Площадь</div>
			<div>172.2 м<sup>2</sup></div>
		</div>
		<div class="prop">
			<div>Комнаты</div>
			<div>7</div>
		</div>
		<div class="prop">
			<div>Габариты</div>
			<div>12 × 9</div>
		</div>
		<div class="prop">
			<div>Санузлы</div>
			<div>2</div>
		</div>
	</div>
	<div class="priceBlock">
		<div>Проект</div>
		<div class="uk-text-bold uk-text-right">51&nbsp;660 руб.</div>
		<div>Строительство</div>
		<div class="uk-text-bold uk-text-right">от 3&nbsp;350&nbsp;000 руб.</div>
	</div>
	<div class="btns">
		<div class="likes">
			<button class="plus active"><img src="img/like.svg" alt="" class="uk-preserve" data-uk-svg></button>
			<button class="minus"><img src="img/like.svg" alt="" class="uk-preserve" data-uk-svg></button>
			<div class="counter">+20</div>
		</div>
		<div>
			<a href="" class="withArrow"><span>Оставить заявку</span></a>
		</div>
	</div>
</div>