<div class="filterTitle">Фильтр проектов</div>
<div class="filterLinks">
	<a href="">Популярные</a>
	<a href="">Новинки</a>
</div>
<form action="#">
	<div class="filterBlock">
		<div class="filterName">Площадь</div>
		<div class="filterInputWrap">
			<div>
				<input type="text" min="0" max="40" step="1" id="input-number">
				<span>м<sup>2</sup></span>
			</div>
			<div class="delimeter">&mdash;</div>
			<div>
				<input type="text" min="0" max="40" step="1" id="input-number2">
				<span>м<sup>2</sup></span>
			</div>
		</div>
		<div id="square"></div>
	</div>
	<div class="filterBlock">
		<div class="filterName">Габариты дома</div>
		<p class="mb-5 mt-0">Длина</p>
		<div class="filterInputWrap">
			<div>
				<input type="text" min="0" max="40" step="1" id="input-lengthHouse">
				<span>м</span>
			</div>
			<div class="delimeter">&mdash;</div>
			<div>
				<input type="text" min="0" max="40" step="1" id="input-lengthHouse2">
				<span>м</span>
			</div>
		</div>
		<div id="lengthHouse"></div>
		<p class="mb-5">Ширина</p>
		<div class="filterInputWrap">
			<div>
				<input type="text" min="0" max="40" step="1" id="input-widthHouse">
				<span>м</span>
			</div>
			<div class="delimeter">&mdash;</div>
			<div>
				<input type="text" min="0" max="40" step="1" id="input-widthHouse2">
				<span>м</span>
			</div>
		</div>
		<div id="widthHouse"></div>
	</div>
	<div class="filterBlock">
		<div class="filterName">ЭТАЖНОСТЬ</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> одноэтажный</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox" checked> один этаж + мансарда</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> два этажа</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> два этажа + мансарда</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> три этажа</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> три этажа + мансарда</label>
		</div>
	</div>
	<div class="filterBlock">
		<div class="filterName">Гараж</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> Да</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox" checked> Нет</label>
		</div>
	</div>
	<div class="filterBlock">
		<div class="filterName">Тип постройки</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox"> Гараж</label>
		</div>
		<div class="mb-10">
			<label><input class="uk-checkbox" type="checkbox" checked> Дом</label>
		</div>
	</div>
	<button class="btn yellowBtn uk-width-1-1">Подобрать проект</button>
	<div class="uk-text-center mt-15">
		<button type="reset">Сбросить фильтр</button>
	</div>
</form>

<div class="instagramWrap">
	<div class="instagramHeader">
		<span>Instagram</span>
		<span data-uk-icon="icon: instagram"></span>
	</div>
	<div class="instagramDescr">
		<div class="header">
			<div class="img"><a href="https://www.instagram.com/sk.hbtech/"><img src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s320x320/89828314_237174727437553_3432056452963893248_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_ohc=BJVha5Xv_6EAX9jYUPZ&oh=986089be1efaedded73b09083d8bfd3c&oe=5EE57832" alt=""></a></div>
			<div class="text">
				<a href="" class="name">i.dvoretskiy</a>
				<p>Игорь Дворецкий<br>
				Основатель СК «Технологии Домостроения»  <br>
				• Лично веду каждого клиента от проекта до готового дома  <br>
				• Бесплатно составим проект и смету</p>
			</div>
		</div>
		<div class="subsWrap">
			<div>
				<div class="number">375</div>
				<div class="text">подписки</div>
			</div>
			<div>
				<div class="number">375</div>
				<div class="text">публикаций</div>
			</div>
			<div>
				<div class="number">375</div>
				<div class="text">подписчиков</div>
			</div>
		</div>
	</div>
	<div class="photoGrid">
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
		<a href=""><img src="img/imageitem.jpg" alt=""></a>
	</div>
</div>

<div class="sidebarNews">
	<div class="h3 mt-0">Новости</div>
	<div class="sidebarNewsItem">
		<div class="date"><span>31.12.2019</span><div class="new">Новое</div></div>
		<p><a href="">С Новым 2020 годом!</a></p>
	</div>
	<div class="sidebarNewsItem">
		<div class="date"><span>31.12.2019</span></div>
		<p><a href="">Гараж + гостевой домик из газобетона: видео обзор</a></p>
	</div>
	<div class="sidebarNewsItem">
		<div class="date"><span>31.12.2019</span></div>
		<p><a href="">Гараж + гостевой домик из газобетона: видео обзор</a></p>
	</div>
	<div class="sidebarNewsItem">
		<div class="date"><span>31.12.2019</span></div>
		<p><a href="">Гараж + гостевой домик из газобетона: видео обзор</a></p>
	</div>
	<a href="" class="withArrow">Все новости</a>
</div>

<div class="sidebarGarantiya">
	<img src="#" data-src="img/sidebarGarantiya.svg" alt="" data-uk-img="">
	<div class="h3 mt-15 mb-0">Гарантия <br>На строительство <br>5 лет </div>
</div>

<a href="" class="sidebarSertificate">
	<div class="uk-child-width-1-2@l uk-flex-middle" data-uk-grid>
		<div class="uk-text-center uk-text-left@l">
			Мы являемся сертифицированными специалистами&nbsp;YTONG
		</div>
		<div class="uk-text-right@l uk-text-center">
			<img src="#" data-src="img/ytong.png" alt="" data-uk-img="">
		</div>
	</div>
</a>

<a href="" class="sidebarSertificate">
	<div class="uk-child-width-1-2@l uk-flex-middle" data-uk-grid>
		<div class="uk-text-center uk-text-left@l">
			Мы являемся сертифицированными специалистами&nbsp;УНИКМА
		</div>
		<div class="uk-text-right@l uk-text-center">
			<img src="#" data-src="img/unikma.png" alt="" data-uk-img="">
		</div>
	</div>
</a>

<a href="" class="sidebarSertificate">
	<div class="uk-child-width-1-2@l uk-flex-middle" data-uk-grid>
		<div class="uk-text-center uk-text-left@l">
			Мы являемся сертифицированными специалистами&nbsp;Bonolit
		</div>
		<div class="uk-text-right@l uk-text-center">
			<img src="#" data-src="img/bonolit.png" alt="" data-uk-img="">
		</div>
	</div>
</a>

<a href="" class="sidebarSertificate">
	<div class="uk-child-width-1-2@l uk-flex-middle" data-uk-grid>
		<div class="uk-text-center uk-text-left@l">
			Мы являемся сертифицированными специалистами&nbsp;BRAAS
		</div>
		<div class="uk-text-right@l uk-text-center">
			<img src="#" data-src="img/braas.png" alt="" data-uk-img="">
		</div>
	</div>
</a>